<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Enter title of post", autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.fields_for :post_attachments do |p| %>
    <div class="form-group">
      <%= p.label :photo %>
      <%= p.file_field :photo, :multiple => true, name: "post_attachments[photo][]" %>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.submit "Submit post", class: "btn btn-primary" %>
    </div>
<% end %>
 