<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<!-- Header section -->
<section id="header" class="header-section">
	<div class="container">
		<div class="row">
			<!-- Section title -->
			<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
				<div class="section-title">
					<h1 class="heading">ADVENTURE</h1>
					<hr>
					<p>Continuing to write our book of life one day at a time.</p>
				</div>
			</div>	
		</div>
	</div>
</section>

<!-- Recent travels section -->
<section id="travels">
  <h1 class="section-title"> RECENT TRAVELS </h1>
  <div class="row">
     <% @posts.take(6).each do |post| %>
      <div class="col-lg-4 col-sm-6 col-xs-12 gallery crop">
        <h2><%= link_to post.title, post %></h2>
        <figure class="grayscale">
          <%= link_to image_tag(post.post_attachments.first.photo_url), post.post_attachments.first.photo_url ,:rel => "lightbox", :title => "my caption"%>
        </figure>
      </div>
    <% end %>
  </div>
</section>
<hr class="line">

<!-- Getting to know us -->
<section id="know">
  <h1 class="section-title"> WHO ARE WE?</h1>
  
</section>