<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<!-- Header section -->
<section id="header" class="header-section">
	<div class="container">
		<div class="row">
			<!-- Section title -->
			<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
				<div class="heading-title">
					<h1 class="heading">ADVENTURE</h1>
					<hr>
					<p>Continuing to write our book of life one day at a time.</p>
				</div>
			</div>	
		</div>
	</div>
</section>

<!-- Recent travels section -->
<section id="travels">
  <h1 class="section-title"> RECENT TRAVELS </h1>
  <div class="row">
     <% @posts.take(6).each do |post| %>
      <div class="col-lg-4 col-sm-6 col-xs-12 gallery crop">
        <h2><%= link_to post.title, post %></h2>
        <figure class="grayscale">
          <%= link_to image_tag(post.post_attachments.first.photo_url), post.post_attachments.first.photo_url ,:rel => "lightbox", :title => "my caption"%>
        </figure>
      </div>
    <% end %>
  </div>
  <h2><%#= link_to "Check out more of our adventures", blog_index_path %></h2>
</section>

<hr class="line">

<!-- Getting to know us -->
<section id="know">
  <h1 class="section-title">WHO ARE WE?</h1>
  <div class="row">
    <div class="col-md-3 text-center">
      <h3>Matt Stulz</h3>
    </div>
    <div class="col-md-3">
      <%= image_tag("Matt Stulz.jpg", class: "person") %>
      <ul class="social-icon">
				<li><a href="#" class="fa fa-facebook"></a></li>
				<li><a href="#" class="fa fa-twitter"></a></li>
				<li><a href="#" class="fa fa-instagram"></a></li>
			</ul>
    </div>
    <div class="col-md-3">
      <%= image_tag("Shannon Murphree.jpg", class: "person") %>
      <ul class="social-icon">
				<li><a href="#" class="fa fa-facebook"></a></li>
				<li><a href="#" class="fa fa-twitter"></a></li>
				<li><a href="#" class="fa fa-instagram"></a></li>
			</ul>
    </div>
    <div class="col-md-3 text-center">
      <h3>Shannon Murphree</h3>
    </div>
  </div>
</section>

<hr class="line">

<section id="story">
  <h1 class="section-title">OUR STORY</h1>
  <h4>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book. It has survived not only five centuries, but also the 
    leap into electronic typesetting, remaining essentially unchanged. It was 
    popularised in the 1960s with the release of Letraset sheets containing 
    Lorem Ipsum passages, and more recently with desktop publishing software 
    like Aldus PageMaker including versions of Lorem Ipsum.
  </h4>
</section>

<hr class="line">